<!DOCTYPE html>
<html>
{% load static %}

<head>
    <title>links page</title>
    <meta name="keywords" content="Books, recent, Learning, library">
    <meta name="description" content="Books website">
    <meta name="author" content="author name">
    <link rel="icon" href="{% static 'qu-icon.png' %}">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'main.css' %}"> <!-- include css file -->

</head>
<h1 class="header-green">
    Example of formatting tags
</h1>

<div>This text has <b>subtext</b> using b tag</div>
<div>This text has <strong>subtext</strong> using b tag</div>
<div>This text has <i>subtext</i> using b tag</div>
<div>This text has <em>subtext</em> using b tag</div>
<div>This text has <small>subtext</small> using b tag</div>
<div>This text has <mark>subtext</mark> using b tag</div>
<div>This text has <del>subtext</del> using b tag</div>
<div>This text has <ins>subtext</ins> using b tag</div>
<div>This text has <sub>subtext</sub> using b tag</div>
<div>This text has <sup>subtext</sup> using b tag</div>


</html>