<h3>Add a book</h3>
<form method="post">
    {% csrf_token %}
    <label for="title">Title</label>
    <input type="text" id="title" name="title" />
    <br>
    <label for="price">Price</label>
    <input type="text" id="price" name="price" />
    <br>
    <label for="edition">Edition</label>
    <input type="number" id="edition" name="edition" />
    <br>
    <label for="price">Author</label>
    <input type="text" id="author_name" name="author_name" />
    <br>
    <button type="submit">Add Book</button>
</form>