<!DOCTYPE html>
<html>
{% load static %}

<head>
    <title>links page</title>
    <meta name="keywords" content="Books, recent, Learning, library">
    <meta name="description" content="Books website">
    <meta name="author" content="author name">
    <link rel="icon" href="{% static 'qu-icon.png' %}">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'main.css' %}"> <!-- include css file -->

</head>
<div class="container">
    <div class="container">
        <div class="green-row">
            <a href="https://qu.edu.sa" target="_blank">Go to QU Website (open a new tab)</a>
        </div>
        <div class="grey-row">
            <a href="https://qu.edu.sa">Go to QU Website (open in the same page/tab)</a>
        </div>
        <div class="black-row">
            <a href="https://qu.edu.sa">Go to QU Website (open in the same page/tab)</a>
        </div>
    </div>
</div>

</html>